<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="BeanA" class="ofu.SpringTemelleri.BeanA">
        	<property name="name" value = "Omer"></property>
        	<property name="age" value = "20" ></property>
        </bean>
        
        <bean id = "BeanB" class="ofu.SpringTemelleri.BeanB" parent="BeanA">
        	<property name="weight" value = "66" ></property>
        </bean>
        
        
</beans>